@import "_vars";
@import "_normalize";
@import "_nullstyle";
@import "_fonts";

body {
   min-width: 320px;
   overflow-x: hidden;
   font-family: "Roboto-Regular", "Arial", "sans-serif";
   font-size: 16px;
   transition: all 0.5s;
}

@media (min-width: 0px) {
   .top-slider__text {
      display: none;
   }
}

.header {
   background-color: $accent;
   &__inner {
      min-height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.container {
   padding: 0px 20px;
}

.logo__link {
   margin-left: 8px;
}

.menu__btn {
   width: 40px;
   height: 40px;
   background: #ffffff;
   border-radius: 3px;
   border: none;
   position: relative;
   span {
      width: 12px;
      height: 2px;
      border-radius: 1px;
      background-color: $accent;
      position: absolute;
      left: 14px;
      top: 19px;
   }
   &::after {
      content: "";
      width: 12px;
      height: 2px;
      border-radius: 1px;
      background-color: $accent;
      position: absolute;
      top: 15px;
      left: 14px;
   }
   &::before {
      content: "";
      width: 12px;
      height: 2px;
      border-radius: 1px;
      background-color: $accent;
      position: absolute;
      top: 23px;
      left: 14px;
   }
}

@import "table-640";

@media (min-width: 768px) {
   .container {
      padding: 0px 40px;
   }
   .logo__link {
      margin-left: 0px;
   }
   .header__inner {
      min-height: 100px;
   }
}

@media (min-width: 1024px) {
   .container {
      max-width: 1200px;
      margin: 0px auto;
      padding: 0px 40px;
   }
}

@media (min-width: 1440px) {
   .container {
      max-width: 1320px;
   }
}

@media (min-width: 1440px) {
   .menu__btn {
      margin-right: 90px;
   }
}

.head {
   background-image: url("../images/bg-slider.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   min-height: 193px;
}

@media (min-width: 640px) {
   .head {
      min-height: 386px;
      background-position: center center;
   }
}

.top-slider {
   background: rgba(33, 33, 33, 0.5);
   min-height: 193px;
   &__btn {
      display: none;
      &:active {
         background-color: #97a2bec2;
      }
   }
}
.top-slider__item {
   color: #ffffff;
   text-align: center;
}
.top-slider__title {
   font-size: 28px;
   line-height: 28px;
   text-transform: uppercase;
   font-family: "RobotoCondensed-Regular";
   padding: 36px 0px 28px;
   max-width: 243px;
   margin: 0px auto;
   position: relative;
   &::after {
      content: "";
      width: 61px;
      height: 8px;
      background: $text-color;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
   }
}

.slick-dots {
   display: flex;
   justify-content: center;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 10px;
   .slick-active {
      button {
         background-color: transparent;
         border: 1px solid $accent;
      }
   }
   button {
      font-size: 0;
      border: none;
      background-color: $accent;
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 10px;
   }
}

@media (min-width: 640px) {
   .top-slider {
      min-height: 386px;
      &__title {
         font-size: 60px;
         line-height: 60px;
         padding-top: 50px;
         padding-bottom: 15px;
         margin: 0 auto 30px;
         min-width: 520px;
      }
      &__btn {
         display: block;
         font-weight: 500;
         margin: 0 auto 113px;
         font-size: 18px;
         background-color: $accent;
         color: $bg-color;
         padding: 15px 45px;
         border-radius: 3px;
         text-transform: uppercase;
         border: 0;
      }
      .slick-dots {
         bottom: 50px;
      }
      .slick-arrow {
         width: 56px;
         height: 56px;
         border: 0;
         position: absolute;
         right: 0;
         z-index: 5;
      }
      .slick-prev {
         background-color: $accent;
         top: calc(50% - 56px);
         border: 1px solid rgba(0, 0, 0, 0.425);
         &:active {
            background-color: #97a2bec2;
         }
      }
      .slick-next {
         transform: rotate(180deg);
         background-color: $accent;
         bottom: calc(50% - 56px);
         border: 1px solid rgba(0, 0, 0, 0.336);
         &:active {
            background-color: #97a2bec2;
         }
      }
      &__text {
         display: none;
      }
   }
}

@media (min-width: 768px) {
   .top-slider {
      &__item {
         min-height: 465px;
      }
      &__title {
         padding: 87px 0 0;
         margin: 0 auto 0;
         &::after {
            display: none;
         }
      }
      &__text {
         display: block;
         padding: 25px 0 32px;
         font-size: 18px;
         line-height: 20px;
         font-family: "RobotoCondensed-Regular";
         display: block;
         max-width: 568px;
         margin: 0 auto;
      }
   }
}

@media (min-width: 1024px) {
   .top-slider {
      &__item {
         min-height: 618px;
      }
      &__title {
         font-size: 84px;
         line-height: 84px;
         padding: 101px 0 0;
         letter-spacing: 2px;
         max-width: 750px;
      }
      .slick-dots {
         bottom: 80px;
      }
   }
}

@media (min-width: 1440px) {
   .top-slider {
      &__item {
         min-height: 668px;
      }
      &__title {
         font-size: 96px;
         line-height: 96px;
         padding: 101px 0 0;
         letter-spacing: 2px;
         max-width: 750px;
      }
      &__text {
         font-size: 24px;
         line-height: 26px;
         max-width: 886px;
      }
      .slick-arrow {
         width: 70px;
         height: 70px;
      }
      .slick-prev {
         top: calc(50% - 70px);
      }
      .slick-next {
         transform: rotate(180deg);
         bottom: calc(50% - 70px);
      }
   }
}

.coll {
   background: $accent;
   text-align: center;
   padding: 40px 0;
}

.coll__title {
   @extend %roboto-500;
   color: #ffffff;
   font-size: 24px;
   line-height: 24px;
   margin-bottom: 18px;
}
.coll__text {
   color: #ffffff;
   margin-bottom: 40px;
   font-size: 16px;
   line-height: 18px;
}
.coll__btn {
   padding: 16px;
   background: #f9f6e5;
   border-radius: 3px;
   color: $accent;
   font-family: "Roboto-Medium";
   font-size: 18px;
   &:active {
      background-color: #868686c2;
   }
}

@media (min-width: 768px) {
   .coll {
      padding: 0;
      &__box {
         text-align: left;
         max-width: 427px;
         margin-top: 60px;
      }
      &__text {
         max-width: 328px;
      }
      &__inner {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &__btn {
         flex: start;
         flex-direction: column;
      }
   }
}

@media (min-width: 1024px) {
   .coll {
      &__box {
         max-width: 500px;
      }
      &__text {
         max-width: 600px;
      }
   }
}

@media (min-width: 1440px) {
   .coll {
      &__inner {
         padding: 0 80px;
      }
      &__box {
         max-width: 600px;
      }
      &__title {
         font-size: 24px;
         line-height: 32px;
      }
      &__text {
         max-width: 600px;
         font-size: 16px;
      }
   }
}

.servis__inner {
   padding: 25px 0 0px;
   text-align: center;
}

.servis__title {
   margin-top: 7px;
}

.title__line {
   font-family: "RobotoCondensed-Regular";
   font-size: 24px;
   line-height: 28px;
   letter-spacing: 2px;
   color: $accent;
   position: relative;
   &::after {
      content: "";
      width: 100px;
      height: 8px;
      background-color: $accent;
      position: absolute;
      margin: 0 auto;
      top: 50px;
      left: 0;
      right: 0;
   }
}

.servis__subtitle {
   font-size: 20px;
   line-height: 24px;
   color: #4a4a4a;
   margin: 70px 0 21px;
}
.servis__text {
   font-size: 15px;
   line-height: 17px;
   color: #797979;
}
.servis__items {
   margin: 40px -10px 0;
}

.servis__item-inner {
   min-height: 310px;
   border: 1px solid #f9f6e5;
   border-bottom: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   &:last-child {
      border-bottom: 1px solid #f9f6e5;
   }
}

.servis__item {
   transition: all 0.3s;
   &:hover {
      border: 4px solid $accent;
      margin: 18px;
      padding: 9px;
      transition: all 0.3s;
      .servis__hover-text {
         overflow: visible;
         opacity: 1;
         height: auto;
         margin: 35px auto 18px;
      }
      .servis__hover-link {
         overflow: visible;
         opacity: 1;
         height: auto;
      }
   }
}

.servis__image {
   display: inline-block;
   margin-bottom: 31px;
}

.servis__name {
   font-family: "RobotoCondensed-Bold";
   letter-spacing: 2px;
   line-height: 19px;
   color: #4a4a4a;
   max-width: 252px;
   margin: 0 auto;
}

.servis__hover-text {
   line-height: 18px;
   color: #9b9b9b;
   max-width: 196px;
}

.servis__hover-link {
   font-family: "RobotoCondensed-Bold";
   letter-spacing: 2px;
   line-height: 19px;
   text-transform: uppercase;
   color: $accent;
   span {
      position: relative;
      padding-right: 20px;
      &::after {
         content: "";
         background-image: url("../images/arrow_right_alt.svg");
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center center;
         position: absolute;
         right: 0;
         top: 6.5px;
         height: 5px;
         width: 19px;
      }
   }
}

.servis__hover-text,
.servis__hover-link {
   /*  display: none; */
   overflow: hidden;
   height: 0;
   opacity: 0;
}

@media (min-width: 640px) {
   .servis {
      &__inner {
         padding: 25px 0 0px;
      }
      &__title {
         font-size: 48px;
         line-height: 56px;
         &::after {
            content: "";
            top: 160px;
         }
      }
      &__subtitle {
         font-size: 24px;
         margin: 20px auto 70px;
         max-width: 560px;
      }
      &__text {
         font-size: 18px;
         line-height: 24px;
      }

      &__items {
         display: flex;
         flex-wrap: wrap;
         margin-bottom: 0;
      }

      &__item-inner {
         min-height: 300px;
         width: 50%;
         &:nth-child(even) {
            border-left: none;
         }
      }
   }
}

@media (min-width: 768px) {
   .servis {
      &__inner {
         padding: 50px 0 0;
      }
      &__title {
         &::after {
            content: "";
            top: 130px;
            left: 0px;
            margin-left: 0;
         }
      }
      &__subtitle {
         margin-left: 0px;
         max-width: none;
         text-align: left;
      }
      &__text {
         text-align: left;
      }
      &__name {
         padding: 0;
      }
      &__item-inner {
         min-height: 336px;
      }
   }
}

@media (min-width: 1024px) {
   .servis {
      &__hover-text {
         margin: 20px 0;
      }
      &__item-inner {
         padding: 0px 17px;
         min-height: 277px;
         width: 25%;
         &:nth-child(2),
         &:nth-child(6) {
            border-right: none;
         }
         &:hover {
            .servis__item {
               margin: 0;
               min-height: 255px;
               padding: 21px 9px 5px;
            }
            .servis__hover-text {
               margin: 20px 0;
            }
         }
      }
   }
}

@media (min-width: 1440px) {
   .servis {
      &__inner {
         padding: 0;
         display: flex;
         align-items: center;
      }
      &__head {
         max-width: 390px;
      }

      &__items {
         margin: 0 -100px 0 0;
      }
      &__title {
         text-align: left;
      }
      &__subtitle {
         margin-top: 70px;
      }
      &__title {
         &::after {
            content: "";
            top: 210px;
         }
      }
      &__name {
         padding: 0 0px;
      }
   }
}

/* ------------projects ------------- */

.projects {
   background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
}

.projects__inner {
   text-align: center;
   padding: 40px 0 20px;
}
.projects__title {
   color: #ffffff;
   &::after {
      background-color: #ffffff;
      width: 50px;
      top: 50px;
   }
}

.projects__items {
   margin-top: 70px;
}
.projects__item {
   h6 {
      font-family: "RobotoCondensed-Bold";
      color: $accent;
      line-height: 19px;
      letter-spacing: 2px;
      margin: 20px 0;
   }
}

.projects__item-image {
   min-height: 250px;
   border-radius: 4px;
   width: 100%;
   padding: 12px;
   &:hover {
      .projects__overlay {
         opacity: 1;
         transition: all 0.4s;
      }
   }
}
.projects__overlay {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba($bg-color, 0.83);
   min-height: 227px;
   border-radius: 4px;
   opacity: 0;
   transition: all 0.4s;
}
.projects__item-info,
.projects__item-search {
   margin: 0 7px;
   img {
      width: 27px;
   }
}

@media (min-width: 640px) {
   .projects {
      .title__line::after {
         content: "";
         width: 100px;
         top: 70px;
      }
      &__title {
         font-size: 48px;
         line-height: 56px;
      }
      &__overlay {
         min-height: 460px;
      }
      &__item-image {
         padding: 22px;
      }
      &__item-info,
      &__item-search {
         margin: 0 12px;
         img {
            width: 50px;
         }
      }
      &__item-title {
         h6 {
            font-size: 20px;
            line-height: 23px;
            margin: 25px 0;
         }
      }
   }
}

@media (min-width: 768px) {
   .projects {
      .title__line::after {
         top: 80px;
      }
      &__inner {
         padding: 80px 0;
      }
      &__title {
         margin-bottom: 111px;
      }
      &__items {
         display: flex;
         flex-wrap: wrap;
         margin: 15px -15px;
      }
      &__item {
         width: 50%;
         padding: 0px 15px;
      }
      &__overlay {
         min-height: 256px;
      }
      &__item-image {
         padding: 15px;
      }
      &__item-info,
      &__item-search {
         margin: 0 7.4px;
         img {
            width: 30px;
         }
      }
   }
}

@media (min-width: 1024px) {
   .projects {
      &__inner {
         max-width: 662px;
         margin: 0 auto;
      }
   }
}

@media (min-width: 1440px) {
   .projects {
      &__inner {
         max-width: 1138px;
         margin: 0 auto;
      }
      &__item {
         width: 25%;
      }
      &__overlay {
         min-height: 239px;
      }
      &__item-image {
         padding: 12px;
      }

      &__item-info,
      &__item-search {
         margin: 0 5px;
         img {
            width: 25px;
         }
      }
   }
}

/* --------------team------------------- */
.team__inner {
   padding: 40px 0 60px;
   text-align: center;
}

.team__img {
   width: 100%;
   border-radius: 4px;
}
.team__title {
   margin: 40px 0 55px;
   color: #4a4a4a;
   &::after {
      width: 45px;
   }
}

.team__text {
   line-height: 24px;
   color: #9b9b9b;
}
.team__button {
   margin-top: 120px;
}
.team__btn {
   font-size: 20px;
   text-transform: uppercase;
   font-family: "Roboto-Medium";
   padding: 21px 26px;
   background-color: $accent;
   color: #f9f6e5;
   border-radius: 3px;
}

@media (min-width: 640px) {
   .team {
      &__inner {
         padding: 46px 0 75px;
      }
      &__title {
         font-size: 36px;
         line-height: 38px;
         margin: 45px 0 70px;
         &::after {
            width: 88.6px;
            top: 60px;
         }
      }
      &__button {
         margin-top: 80px;
      }
   }
}

@media (min-width: 768px) {
   .team {
      &__inner {
         padding: 40px 0 48px;
      }
      &__title {
         margin: 0px 0 40px;
         &::after {
            width: 88.6px;
            top: 60px;
            margin: 0;
         }
      }
      &__button {
         margin-top: 80px;
      }
      &__row {
         display: flex;
      }
      &__column {
         text-align: left;
         margin-left: 35px;
      }
      &__img {
         min-width: 240px;
      }
      &__button {
         margin-top: 60px;
      }
      &__btn {
         padding: 21px 35px;
      }
   }
}

@media (min-width: 1024px) {
   .team {
      &__inner {
         padding: 80px 0;
      }
      &__title {
         font-size: 46px;
         margin: 20px 0 50px;
      }
      &__img {
         min-width: 400px;
      }
      &__column {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         margin-left: 60px;
      }
      &__button {
         margin-top: 60px;
      }
   }
}

@media (min-width: 1440px) {
   .team {
      &__title {
         font-size: 46px;
         margin: 20px 0 50px;
         &::after {
            width: 113px;
            top: 100px;
         }
      }
      &__img {
         min-width: 460px;
      }
      &__column {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         margin-left: 95px;
      }
      &__text {
         max-width: 584px;
      }
   }
}

// =======================news====================

.news {
   background: $bg-color;
   display: flex;
   align-items: center;
   &__inner {
      padding: 40px 0;
      text-align: center;
      font-family: "RobotoCondensed-Bold";
   }

   &__title {
      font-size: 24px;
      line-height: 38px;
      color: $text-color;
      margin-bottom: 70px;
      &::after {
         width: 50px;
         top: 58px;
      }
   }

   &__items {
      margin: -10px 0;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 2px;
   }

   &__item {
      width: 270px;
      padding: 10px 0;
      &:hover {
         .news__item-hover {
            opacity: 1;
         }
         .news__item-title {
            display: none;
         }
         .news__item-bg {
            border-radius: 4px;
         }
      }
   }
   &__item-bg {
      border-radius: 4px 4px 0 0;

   }
   &__item-hover {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(43, 64, 116, 0.3);
      border: 10px solid $accent;
      min-height: 400px;
      border-radius: 4px;
      opacity: 0;
      transition: all 0.4s;
      position: relative;
      .news__item-search,
      .news__item-info {
         margin: 0 5px;
      }
   }

   &__item-text {
      position: absolute;
      left: 0px;
      bottom: 30px;
      color: $bg-color;
      background-color: $accent;
      width: 100%;
      padding: 10px 0 10px 10px;
      text-align: left;
   }

   &__item-title {
      color: $text-color;
      background-color: #fff;
      padding: 10px 0px;
      border-radius: 0 0 4px 4px;
   }
}
